.gpt3__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.gpt3__footer-heading {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
}

.gpt3__footer-heading h1 {
    font-family: var(--font-family);
    font-size: 64px;
    font-weight: 800;
    line-height: 75px; 
}

.gpt3__footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.gpt3__footer-button button {
    border: 1px solid #FFF;
    background: var(--color-footer);
    color: #FFF;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    padding: 1rem;
    cursor: pointer;

}

.gpt3__footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.gpt3__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.gpt3__footer-links_logo img {
    width: 118px;
    height: 30px;
}

.gpt3__footer-links_logo p {
    color: #FFF;
        font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    margin-top: 1rem;
    max-width: 170px;
}

.gpt3__footer-links_div {
    display: flex;
    flex-direction: column;
}

.gpt3__footer-links_div h4 {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.9rem;

}

.gpt3__footer-links_div p {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    margin: 0.5rem 0;
    cursor: pointer;
}

.gpt3__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.gpt3__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}


@media screen and (max-width: 850px) {
    .gpt3__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .gpt3__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}